@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

$font: 'Poppins', sans-serif;
 
@mixin flex($direction, $wrap, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    flex-wrap: $wrap;
    align-items: $align;
};

.navbar{
  @include flex(row, wrap, space-between, center);
  background-color: #1e1e1e;  

    &__info{
        @include flex(row, wrap, space-between, center);
        
        h2{
            color: #f08c00;
            font-family: $font;
            font-size: 2rem;
        }
    }

    &__links {
        @include flex(row, wrap, space-evenly, center);
        gap: 2rem;

        a {
            font-family: $font;
            text-decoration: none;
            color: rgb(255, 255, 255);
            font-weight: bolder;
            &:hover{
                border: solid green 1px;
            }
            }
        }
}